@import '../../assets/variable/variable.scss';
@import 'antd/dist/antd.css';
.wrapper {
    min-height: 100vh;
    backdrop-filter: blur(12px);
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
}
.restore {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 539px;
    padding: 64px 86px 60px 86px;
    background: #fff;
    :global {
        h1.ant-typography {
            font-size: 24px;
            font-weight: 500;
            line-height: 1.3;
            color: var(--character-light-title-85);
            margin-bottom: 32px;
        }
    }
}

.item {
    :global {
        .ant-row {
            height: 56px;
        }
        .ant-input-affix-wrapper {
            height: 40px;
            padding: 10px 12px;
        }
        .ant-form-item-explain {
            font-size: 12px;
            font-weight: 400;
            line-height: 1.3;
        }
        .ant-form-item-explain-error {
            display: flex;
            align-items: center;
            font-size: 12px;
            font-weight: 400;
            line-height: 1.3;
            text-align: left;
            color: var(--character-light-error);
            height: 16px;
        }

        .anticon-eye {
            color: var(--primary-light-6);
        }
        .wrapper-focused,
        .ant-input-affix-wrapper-focused,
        .ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover,
        .ant-input-password-visibility-icon-clicked {
            border-color: var(--primary-light-5);
        }
        .ant-form-item-extra {
            display: flex;
            align-items: center;
            height: 16px;
        }
    }
}

.password {
    height: 70px;
    margin-bottom: 16px;
    :global {
        .ant-form-item-explain {
            display: flex;
            align-items: center;
            text-align: left;
        }
    }
}
.button {
    :global {
        .ant-btn {
            border: 1px solid var(--primary-light-6);
            border-radius: 2px;
            padding: 6px 15px;
            width: 100%;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.3;
            height: 40px;
            box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
            background: var(--primary-light-6);
        }
        .ant-form-item {
            margin-bottom: 0;
        }
        .ant-btn-primary[disabled] {
            background: var(--primary-light-6);
            border: 1px solid var(--primary-light-6);
            color: #fff;
            margin-top: 28px;
        }
    }
}
