@import 'antd/dist/antd.css';
@import '../../assets/variable/variable.scss';

.headerWrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    gap: 0px;
    margin-top: 14px;
    margin-bottom: 7px;

    :global {
        .ant-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            gap: 10px;
            border: none;
            background: none;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.3;
            box-shadow: none;
            color: var(--character-light-title-85);
            padding: 0;
            & > .anticon + span {
                margin: 0;
            }
            @media (max-width: 900px) {
                .anticon-setting {
                    display: none;
                }
            }
            @media (max-width: 600px) {
                display: flex;
                align-items: center;
                box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
                background: var(--character-light-primary-inverse);
                border: 1px solid var(--character-light-border);
                border-radius: 100px;
                padding: 4px 10px;
                width: 32px;
                height: 32px;
                .anticon-setting {
                    display: flex;
                }
                & > .anticon + span {
                    display: none;
                }
            }
        }
    }
    @media (max-width: 600px) {
        margin-top: 6px;
    }
}
.header {
    background-color: #f0f5ff;
    width: 100%;
    height: auto;
    padding: 16px 24px;

    :global {
        .ant-breadcrumb-link {
            font-size: 14px;
            font-weight: 400;
            line-height: 1.3;
            text-align: left;
            color: var(--character-light-title-85);
        }
        .ant-typography {
            margin: 0;
            font-size: 38px;
            font-weight: 700;
            letter-spacing: 0.85px;
            color: var(--character-light-title-85);
            text-align: left;
            @media (max-width: 900px) {
                font-size: 24px;
                font-weight: 500;
                line-height: 1.3;
            }
            @media (max-width: 600px) {
                font-size: 20px;
                font-weight: 500;
                line-height: 1.3;
            }
        }
    }
}
