@import 'antd/dist/antd.css';
@import '../../assets/variable/variable.scss';
.sider {
    min-height: 100vh;
    :global {
        .ant-layout-sider {
            background-color: #fff;
            position: relative;
            height: 100%;

            @media (max-width: 576px) {
                max-width: 106px !important;
                width: 106px !important;
                min-width: 106px !important;
            }
        }
        .ant-layout-sider-collapsed {
            @media (max-width: 576px) {
                position: absolute;
                left: -104px;
            }
        }
        .ant-menu-item {
            padding: 0 16px;
        }
        .ant-image {
            display: flex;
            margin: 44px 0 58px 29px;
            width: 133px;
            height: 33px;

            &-img {
                cursor: pointer;
            }
            @media (max-width: 576px) {
                margin: 16px 0 14px 17px;
                width: 72px;
                height: 18px;
            }
        }
        .ant-layout-sider-collapsed .ant-image {
            margin: 49px 0 58px 18px;
            width: 29px;
            height: 28px;
        }
        .ant-card-meta-avatar img {
            width: 16px;
            height: 16px;
        }

        .ant-menu-inline .ant-menu-item:not(:last-child),
        .ant-menu-vertical .ant-menu-item:not(:last-child),
        .ant-menu-inline .ant-menu-item,
        .ant-menu-vertical .ant-menu-item {
            margin: 0;
        }
        .ant-btn {
            position: absolute;
            right: 300px;
            display: inline-block;
            width: 20px;
            height: 66px;
            padding: 0;
            right: -18px;
            top: 50%;
            border: none;
            z-index: 3;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.01);
            clip-path: polygon(0px 0px, 20px 8px, 20px 58px, 0px 66px);
            path {
                fill: var(--character-light-secondary-45);
            }
            @media (max-width: 576px) {
                width: 32px;
                height: 48px;
                right: -31px;
                top: 24px;
                clip-path: polygon(0px 0px, 32px 6px, 32px 40px, 0px 48px);
            }
        }

        @media (max-width: 576px) {
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            z-index: 2;
            transition: width 0.3s;
        }
    }
}
.exit {
    position: absolute;
    bottom: 0;
    width: 100%;
    :global {
        .ant-menu-item {
            font-size: 14px;
            font-weight: 400;
            line-height: 18.2px;
            text-align: center;
            color: var(--character-light-title-85);
            display: flex;
            align-items: center;
        }
        .ant-avatar {
            width: 16px;
            height: 16px;
            border-radius: 0;
        }
        .ant-avatar > img {
            width: 16px;
            height: 16px;
        }
        .ant-menu-item .ant-menu-item-icon + span {
            margin-left: 25px;
        }
        .ant-divider-horizontal {
            margin: 0;
        }
        .ant-menu.ant-menu-inline-collapsed > .ant-menu-item {
            padding: 0 24px;
        }
        @media (max-width: 576px) {
            .ant-menu-item {
                display: flex;
            }
            .ant-avatar {
                display: none;
            }
            .ant-menu-item .ant-menu-item-icon + span {
                margin: auto;
            }
        }
    }
}
